[submodule "rathena"]
	path = rathena
	url = https://github.com/alexbsec/botchling_rathena
[submodule "backend"]
	path = backend
	url = https://github.com/alexbsec/botchling_backend.git
[submodule "openkore"]
    path = openkore
    url = https://github.com/alexbsec/openkore
